body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
  color: #707173;
  width: 100%;
}

label {
  margin-right: 20px;
}

p {
  display: flex;
  font-size: 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 20px 40px 20px;
  box-sizing: border-box;
  border-bottom: 4px solid #A1A1A1;
}

#secondeLigne {
  width: 100%;
  height: 1px;
  background-color: #A1A1A1;
  margin-top: 6px;
  margin-bottom: 20px;
}

#logo {
  height: 50px;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 2px solid #A1A1A1;
}

#header h1 {
  margin: 0;
}

#contenu {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

#ligneRecherche {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

#RechLEB, 
#RechValideur,
#RechFournisseur,
#RechPON,
#RechCriticite,
#RechSemaine {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#inputLEB, 
#inputValideur,
#inputFournisseur,
#inputPON,
#inputCriticite,
#inputSemaine {
  border-radius: 5px;
  border: 2px solid #FFDA00;
  background-color: #FFF4BB;
  color: #707173;
  width: 90%;
  box-sizing: border-box;
  min-width: 0;
}

#Tableau {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  border: none;
}

#Tableau th,
#Tableau td {
  border: none;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

#Tableau thead th {
  padding: 10px;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  background-color: #009EFF;
}

#Tableau tbody tr:nth-child(even) {
  background-color: rgba(186, 229, 255, 0.5);
}

#Tableau tbody tr.bloquant {
  background-color: #FFA995;
}

#btnValider,
#btnEffacer {
  color: white;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

#btnValider {
  border: 2px solid #009EFF;
  background-color: #5CC1FF;
}

#btnEffacer {
  border: 2px solid #A1A1A1;
  background-color: #C3C3C3;
}
